# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
*.Rproj
.Rproj.user
# produced vignettes
vignettes/*.html
vignettes/*.pdf
misc/builds
misc/pre-build
.Rdata
core
inst/doc
