S3method(colour_plot,character)
S3method(colour_plot,ggthemr)
S3method(colour_plot,ggthemr.palette)
S3method(colour_plot,ggthemr.swatch)
S3method(is_colour,character)
S3method(is_colour,factor)
S3method(is_colour,logical)
S3method(is_colour,numeric)
S3method(plot,ggthemr.palette)
S3method(plot,ggthemr.swatch)
S3method(swatch,ggthemr)
S3method(swatch,ggthemr.palette)
export(colour_plot)
export(ggthemr)
export(is_colour)
export(swatch)
